// itemBox101
// ==================================================/
.itemBox101 {
  margin-bottom: 6px; 
  
  button {
    margin-top: 4px;
  }

  .itemBox101_img-holder {
    @extend %padd--4;
    height: 60px;
    border: 1px solid #000;
  }
}

// itemBox102
// ==================================================/
.itemBox102 {
  .itemBox102_title {
    @extend %padd--4;
    background-color: #666;
  }

  .itemBox102_img-holder {
    > img {
      @extend %display--block;
      border: 1px solid #000;
      height: 60px;
      margin-top: 4px;
    }
  }

  button {
    @extend %margin-top--4;
  }
}
