// 
// ==================================================/
body {
  @extend %system_normal--400;
}

.item-id {
  background-color: #ccc;
}

// sbox1-01
// ==================================================/
@mixin sbox1-01 {
  .sbox1-01 {
    // @extend %padd--4;
    margin-bottom: 6px; // optional bottom margin

  button {
    margin-top: 4px;
  }

  .sbox1-01_img-holder {
    height: 60px;
    padding: 4px;
    border: 1px solid #000;
  }
  }
}

@include sbox1-01;

// sbox1-02
// ==================================================/
@mixin sbox1-02 {
  .sbox1-02 {
    button {
      margin-top: 4px; /*optional margin*/
    }

    .sbox1-02_title {
      background-color: #666;
      padding: 4px;
    }

    .sbox1-02_img-holder {
      > img {
        display: block;
        border: 1px solid #000;
        height: 60px;
        margin-top: 4px;
      }
    }

    button {
      margin-top: 4px;
    }
  }
}

@include sbox1-02;